*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

#main-container {
  display: grid;
  grid-template: repeat(16, 1fr) / repeat(16, 1fr);
  width: 600px;
  height: 600px;

  margin: auto;

  border: 1px solid black;
  border-radius: 3px;
}

.box {
  border: 1px solid rgba(0, 0, 0, .2);
}

.highlight-1 {
  background-color: rgba(0,0,255,.1);
}

.highlight-2 {
  background-color: rgba(0,0,255,.2);
}

.highlight-3 {
  background-color: rgba(0,0,255,.3);
}

.highlight-4 {
  background-color: rgba(0,0,255,.4);
}

.highlight-5 {
  background-color: rgba(0,0,255,.5);
}

.highlight-6 {
  background-color: rgba(0,0,255,.6);
}

.highlight-7 {
  background-color: rgba(0,0,255,.7);
}

.highlight-8 {
  background-color: rgba(0,0,255,.8);
}

.highlight-9 {
  background-color: rgba(0,0,255,.9);
}

.highlight-10 {
  background-color: rgba(0,0,255,1.0);
}
